.header {
    position: sticky;
    height: 5rem;
    border-bottom: .3rem solid #663399;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.footer {
    position: sticky;
    border-top: .3rem solid #663399;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    height: 8rem;
}

.header > a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bifrost {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: -1;
    animation: animate-scroll 12s linear infinite;
    background: linear-gradient(to right, #5dd2c6, #268be4 40%);
}

.bifrost-footer {
    border-radius: 0rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(to bottom, #2a7fca, #1e416d);
}

.stars {
    height: 100%;
    width: 100%;
    background: url(../images/stars.png);
    animation: scroll-background 2.1s linear infinite;
}


@keyframes scroll-background {
    0% {
        opacity: 1;
        background-position-x: 100%;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      background-position-x: 0px;
    }
  }


.header-table {
    display: inline-block;
    padding: .2rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.header-table td {
    font-family: 'Courier New', Courier, monospace;
}

.header-table td img {
    width: 1.5rem;
    animation: animate-scroll 2.1s linear infinite, up-down 0.6s linear infinite;
}


@keyframes animate-scroll {
    0%,100% {
      filter:hue-rotate(0deg);
    }
    50% {
      filter:hue-rotate(360deg);
    }
  }


@keyframes up-down {
    0%,100% {
        padding-bottom: 0px;
        padding-top: 5px;
    }
    50% {
        padding-bottom: 5px;
        padding-top: 0px;
    }
}

.cat-icon {
    margin-left: -0.5rem;
    display: inline-block;
    scale: 1.4;
    filter: sepia(30%);
    transform-origin: 50% 70%;
    text-shadow: 0px 0px .2rem #663399;
    animation: head-wag 1.2s linear infinite;
}

.inator-icon {
    font-size: 1.3rem;
    filter: sepia(50%);
    display: inline-block;
    margin-left: -.4rem;
    margin-right: -.4rem;
    animation: gear 1.2s linear infinite;
}

.nyancat-og {
    background:radial-gradient(ellipse at center, lightsalmon, coral);
    color:white;
    padding: .3rem;
    border-radius: 25rem;
    animation: toggle-colors 1.2s linear infinite;
    border: .15rem solid white;
    box-shadow: 0px 0px 0px .15rem #663399ab;
}

.nyancat-og > #b{
    color: #663399ab;
    animation: toggle-colors 1.2s linear infinite reverse;
}


@keyframes toggle-colors {
    0%, 49% {
        color:#663399ab;
        text-shadow: 0px 0px 1rem white;
    }
    50%, 100% {
        color:white;
        text-shadow: 0px 0px 1rem rgb(255, 235, 235);
    }
}

.cattail {
    display: inline-block;
    color: orange;
    rotate: 90deg;
    text-shadow: 0px 0px .5rem #663399;
    animation: tail-wag 1.2s linear infinite;
}

@keyframes tail-wag {
    0%, 49%, 100% {
        rotate: 90deg;
    }
    50%, 99%  {
        rotate: 180deg;
    }
}

@keyframes head-wag {
    0%, 100% {
        rotate:10deg;
    }
    50%  {
        rotate:-10deg;
    }
}


@keyframes gear {
    0% {
        rotate:0deg;
    }
    99%  {
        rotate:359deg;
    }
}

.inator {
    color:lightgrey;
    text-shadow: 0px 0px .3rem black;
    text-decoration: underline;
    text-underline-offset: .3rem;
}


.zap {
    display: inline-block;
    text-shadow: 0px 0px .3rem slateblue;
    transform-origin: 55% 55%;
    rotate: -90deg;
    filter: saturate(130%);
}
